@import "../../scss/variables";

.header {
    padding: 2% 10%;

    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;

    &__logo {
        max-width: 4rem;
        max-height: 4rem;
    }

    &__links {
        height: 100%;
        vertical-align: middle;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 2rem;
        color: $color-black;
        border-bottom: 1px solid transparent;
        margin-left: 2rem;
        padding-bottom: 5px;
        transition: all .1s;
        font-weight: 300;

        &:hover {
            border-bottom: 1px solid $color-black;
            font-weight: 400;
        }
    }
};
