@import "../../scss/variables";

.jumbotron {
    padding: $default-padding;
    height: 70vh;
    background-image: linear-gradient(
        to bottom right, rgba(0, 0, 0, 0.794), rgba(0, 0, 0, 0.534), 
    ), url("../../assets/header-background-1.jpg");
    background-position: bottom;
    text-align: center;

    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);


    &__message{
        display: inline-block;
        margin: 10% auto 0;
        font-size: 4rem;
        font-weight: 500;
        color: $color-grey-light;

        &-delayed {
            padding: 2% 20%;
            display: inline-block;
            color: $color-grey-light;
            font-weight: 300;

            &--text {
                font-size: 1.6rem;
            }
        }
    }
}
