@import "../../scss/variables";
@import "../../scss/responsive_breakpoint";

.footer {
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
    padding: $default-padding;
    background-color: $color-black;
    color: $color-grey-light;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;

    &__about, &__contact, &__service {
        flex-grow: 1;
        display: block;
        max-width: 30%;
        line-height: 1.2;
        padding: 0;
    }

    &__title {
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
    }

    &__text {
        text-transform: capitalize;

    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 1rem !important;
    }

    &__link {
        &,
        &:visited {
            text-decoration: none;
            color: $color-grey-light;
            cursor: pointer;
            transition: all .2s;
        } 
        &:hover,
        &:active {
            text-decoration: none;
            color: $color-grey-light;
            cursor: pointer;
            font-weight: 500;
        }
        
    }


    // @include respond-to('medium') {
    //     text-align: center;
    //     display: flex;
    //     flex-flow: row wrap;

    //     font-size: 1.4rem;

    //     &__about, &__service, &__contact {
    //         flex-grow: 1;
    //         display: block;
    //         line-height: 1.2;
    //         padding: 0;
    //         margin-bottom: 2rem;
    //     }

    //     &__about, &__service {
    //         width: 50%;
    //     }

    //     &__contact {
    //         width: 100vw;
            
    //     }
    // }


    @include respond-to('small') {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;

        font-size: 1.4rem;

        &__about, &__contact, &__service {
            flex-grow: 1;
            display: block;
            max-width: 100%;
            line-height: 1;
            padding: 0;
            margin-bottom: 2rem;
        }

    }

    

}


